<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.midnight.reportsys.mapper.UserMapper">

	<resultMap type="role" id="role_permission">
		<id property="id" column="roleId" />
		<result property="name" column="roleName" />
		<collection property="permissions" ofType="permission"
			column="roleId" select="getPermissionsByRoleId">
		</collection>
	</resultMap>

	<!-- 根据帐号和密码获取用户 -->
	<select id="getUserByAccountAndPass" parameterType="user"
		resultType="user">
		select * from user where account=#{account} and
		password=#{password}
	</select>

	<!-- 添加用户 -->
	<insert id="addUser" parameterType="user">
		insert into
		user(account,username,password)
		values(#{account},#{username},#{password})
	</insert>

	<!-- 为用户分配角色 -->
	<insert id="addUserRole">
		INSERT INTO user_role (userId, roleId)
		VALUES
		(#{userId}, #{roleId});
	</insert>

	<!--获取用户数量 -->
	<select id="getUserCount" resultType="int">
		SELECT COUNT(*) from user
	</select>

	<!--获取全部用户 -->
	<select id="findAllUser" resultType="user">
		SELECT * from user
	</select>

	<!-- 根据用户id获取用户 -->
	<select id="getUserById" parameterType="int" resultType="user">
		select *
		from user where id = #{id}
	</select>

	<!-- 根据用户account获取用户 -->
	<select id="getUserByAccount" parameterType="String" resultType="user">
		select *
		from user where account = #{account}
	</select>

	<!-- 根据用户id获取所有角色 -->
	<select id="getRoleByUserId" parameterType="int" resultMap="role_permission">
		SELECT r.id as roleId, r.name as roleName FROM role r,user_role ur
		WHERE ur.userId = #{id} AND ur.roleId = r.id
	</select>

	<!-- 根据角色id获取所有资源 -->
	<select id="getPermissionsByRoleId" parameterType="int"
		resultType="permission">
		select p.id,p.name,p.iconCls,p.url,p.pid from
		role
		r,permission p ,role_permission rp
		where r.id =#{roleId} and
		r.id=rp.roleId and rp.permissionId=p.id ORDER BY sort
	</select>

	<!-- 获取需要提交报表成员的数量 -->
	<select id="getReportMemberCount" resultType="int">
		select count(*)
		from
		(select account,username,name from user u,user_role ur,role r
		where u.id=ur.userId and ur.roleId=r.id GROUP BY account) aaa
		where
		name='项目组长' or name='项目成员'
	</select>
	
	<!-- 获取需要提交报表成员 -->
	<select id="findMemberUser" resultType="user">
		SELECT *
		FROM
		(SELECT u.`id`,account,username,NAME FROM USER u,user_role
		ur,role r
		WHERE u.id=ur.userId AND ur.roleId=r.id GROUP BY account) aaa
		WHERE
		NAME='项目组长' OR NAME='项目成员'
	</select>

	<!-- 更改用户密码 -->
	<update id="updatePassword">
		update user set password=#{pass} where id=#{id}
	</update>

	<!-- 删除用户 -->
	<delete id="deleteUser" parameterType="int">
		delete user from user
		where id=#{id}
	</delete>

	<!-- 获取成员角色的用户列表 -->
	<select id="findMemberUserList" resultType="user">
		SELECT
		u.id,u.username FROM USER u ,user_role ur, role r
		WHERE
		u.`id`=ur.`userId` AND ur.`roleId` = r.`id` AND ur.`roleId`=4
	</select>
	<!-- 获取组长或者管理角色的用户列表 -->
	<select id="findLeaderUserList" resultType="user">
		SELECT
		l.id,l.username FROM (
		SELECT u.id,u.username
		,ur.roleId, r.name FROM
		USER u ,user_role ur, role r
		WHERE
		u.`id`=ur.`userId` AND ur.`roleId` =
		r.`id`) l WHERE l.roleId=2
		OR
		l.roleId = 3
	</select>
</mapper>